Brotli
certifi
cffi
charset-normalizer
click
cloudpickle==3.0.0
colorama
contourpy==1.2.0
cryptography
cycler==0.12.1
Flask
fonttools==4.47.2
idna
imbalanced-learn==0.12.0
imblearn==0.0
importlib-metadata
importlib-resources==6.1.1
itsdangerous
Jinja2
joblib
kiwisolver==1.4.5
lightgbm==4.3.0
llvmlite==0.42.0
MarkupSafe
matplotlib==3.8.2
mkl-fft
mkl-random
mkl-service==2.4.0
numba==0.59.0
numpy
packaging==23.2
pandas==2.2.0
pillow==10.2.0
pycparser
pyOpenSSL
pyparsing==3.1.1
PySocks
python-dateutil==2.8.2
pytz==2024.1
requests
scikit-learn
scipy==1.11.4
seaborn==0.13.2
shap==0.44.1
six==1.16.0
slicer==0.0.7
threadpoolctl
tqdm==4.66.1
tzdata==2023.4
urllib3
Werkzeug
win-inet-pton
xgboost==2.0.3
zipp
